.listItemRoot {
    text-decoration: none;
    background-color: #ffffff;
    margin: 5px;
    display: flex;
    box-shadow: 0 2px 6px 0px rgba(0,0,0,.2);
}
.listItemLayout {
    cursor: pointer;
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
    border-radius: 15px;
}

.listItemTitle {
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    width: calc(100% - 12px);
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;


}

.listItemCover {
    width: 100%;
    padding: 0px;
    text-align: center;
}

.listItemCover img {
    min-height: 150px;
}

.listItemDesc {
    text-align: center;
    background-color: #ffddcc;
    overflow: hidden;
    width: calc(100%);

    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}