.listAlbumsPageRoot {
    width: 100vw;
    height: 100%;
    max-width: 1122px;
    margin: auto;
}

.listAlbumsPageContainer {
    height: calc(100% - 0px);
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1px;
}

