.slidesLayout {
    display: block;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3d3d3e;
    overflow-y: auto;
}

.slidesClose {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.slidesContent {
    position: relative;
    margin: auto;
    padding: 0;
    top: 45px;
    height: calc(100vh - 145px);
    min-height: 200px;
}

.slidesBody {
    flex-direction: row;
    align-items: center;
    width: calc(100vw - 25px);
    height: 100%;
}

.slidesContent .slideImg {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -6px;
    border-style: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.slideCurrentIndex {
    width: 50px;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: -28px;
    left: calc(48vw - 31px)
}

.slidePrev, .slideNext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.7s ease;
    user-select: none;
    color: #f5f5f5;
}

.slidePrev:hover, .slideNext:hover {
    background: black;
    color: white;
    opacity: 0.5;
}

.slidePrev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.slideNext {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideDesc {
    height: 64px;
    text-align: center;
    background-color: #f5f5f5;
    color: black;
    padding: 12px 16px;
    margin-top: 12px;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.slideDesc p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}