html {
  overflow: hidden;
}
.App {
  background-color: #faf9f8;
  font-size: 12pt;
  font-family: "PT Sans", "Arial", sans-serif;

}

.App a {
  color: #532b00;
}

.App p, h1, h2, h3 {
  padding-left: 12pt;
}