.appLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.appMenu {
    margin: 7px 7px;
}

.linkToUsers {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
}

.content {
    
}
