.listPhotosPageRoot {
    width: 100vw;
    height: 100vh;
    max-width: 1122px;
    margin: auto;
    overflow: scroll;
    text-align: center;
}

.listPhotosPageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1px;
}

.linkToAlbums {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}