@keyframes ldio-l52uh74fmc9 {
    0 % {transform: rotate(0)}
    100% {transform: rotate(360deg)}
}
.ldioL52uh74fmc9 div {
    box-sizing: border-box!important
}
.ldioL52uh74fmc9 > div {
    position: absolute;
    width: 101px;
    height: 101px;
    top: -0.5px;
    left: -0.5px;
    border-radius: 50%;
    border: 3px solid #000;
    border-color: #e15b64 transparent #e15b64 transparent;
    animation: ldio-l52uh74fmc9 1.25s linear infinite;
}

.ldioL52uh74fmc9 > div:nth-child(2), .ldioL52uh74fmc9 > div:nth-child(4) {
    width: 93px;
    height: 93px;
    top: 3.5px;
    left: 3.5px;
    animation: ldio-l52uh74fmc9 1.25s linear infinite reverse;
}
.ldioL52uh74fmc9 > div:nth-child(2) {
    border-color: transparent #f8b26a transparent #f8b26a
}
.ldioL52uh74fmc9 > div:nth-child(3) {border-color: transparent}
.ldioL52uh74fmc9 > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldioL52uh74fmc9 > div:nth-child(3) div:before, .ldioL52uh74fmc9 > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    top: -3px;
    left: 46px;
    background: #e15b64;
    border-radius: 50%;
    box-shadow: 0 98px 0 0 #e15b64;
}
.ldioL52uh74fmc9 > div:nth-child(3) div:after {
    left: -3px;
    top: 46px;
    box-shadow: 98px 0 0 0 #e15b64;
}

.ldioL52uh74fmc9 > div:nth-child(4) {
    border-color: transparent;
}
.ldioL52uh74fmc9 > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldioL52uh74fmc9 > div:nth-child(4) div:before, .ldioL52uh74fmc9 > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    top: -3px;
    left: 42px;
    background: #f8b26a;
    border-radius: 50%;
    box-shadow: 0 90px 0 0 #f8b26a;
}
.ldioL52uh74fmc9 > div:nth-child(4) div:after {
    left: -3px;
    top: 42px;
    box-shadow: 90px 0 0 0 #f8b26a;
}
.loadingioSpinnerDoubleRingG23zvisbvw {
    width: 88px;
    height: 88px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}
.ldioL52uh74fmc9 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.88);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldioL52uh74fmc9 div {box-sizing: content-box;}
/* generated by https://loading.io/ */