.listRoot {
    width: 100vw;
    height: calc(100vh - 100px);
    max-width: 1122px;
    margin: 3px 3px;
    overflow: auto;
}

.listContainer {
    height: calc(100% - 0px);
    max-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1px;
}

